{% extends 'layout.html' %}

{% block body %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-signin input[type="text"] {
  margin-bottom: 10px;
}

</style>

<main class="form-signin">
    <form action="{{ url_for('save_token') }}" method=post>
        <img class="mb-4" src="{{ url_for('static', filename='img/logo-light.svg') }}" alt="" height="57">
        <h1 class="h3 mb-3 fw-normal">Configurar Token</h1>
        <p>Ingresa aquí el token obtenido luego de crear tu vehiculo en <a href="http://safetocar.cl">safetocar.cl</a></p>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="token" placeholder="2|hdjhsdhshfafds75as6dasda">
            <label for="floatingInput">Token</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Configurar Token</button>
        <p class="mt-5 mb-3 text-muted">&copy;2021 SafeToCar.cl </p>
    </form>
</main>
{% endblock %}